@page
@model LGA.EXWHYZEE.LGT.Pages.Dashboard.IndexModel
@{
}
<div class="row">
    <div class="col-12">
        <div class="box">
            <div class="box-header">
                <h2 class="box-title" style="text-align:center;font-weight:900;text-transform:uppercase;">
                    @Model.LocalGovernment.Name LOCAL GOVERNMENT AREA
                </h2>
            </div>
            <div class="box-body">

                <div class="row">

                    <div class="clearfix"></div>
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-black">
                            <div class="inner">
                                <a asp-page="">
                                    <h3>LGA COUNCIL</h3>
                                </a>

                                <p>STAFF</p>
                            </div>

                            <a asp-page="/Dashboard/Council" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <a asp-page="">
                                    <h3>@Model.LocalGovernment.Communities.Count()</h3>
                                </a>

                                <p>COMMUNITIES</p>
                            </div>

                            <a asp-page="/MainLG/Section" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                   



                    @foreach (var i in Model.LocalGovernment.Categories)
                    {
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box @i.Color">
                                <div class="inner">
                                    <a asp-page="">
                                        <h3>@i.Title</h3>
                                    </a>

                                    <p>Total (0)</p>
                                </div>

                                <a asp-page="/MainLG/Section" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    }
                    <!-- ./col -->

                </div>

            </div>

        </div>
    </div>
</div>