<!DOCTYPE html>
<!-- saved from url=(0061)https://themedemo.foundstrap.com/zengarden/index-layout2.html -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="LOCAL,LGA,GOVERNMENT,TOOLBOX,STRENGTHENING,LOCAL,GOVERNANCE,NIGERIA,Challenges,Options,Opportunities">
    <meta name="description" content="LOCAL GOVERNMENT TOOLBOX - STRENGTHENING LOCAL GOVERNANCE IN NIGERIA:
        Challenges, Options and Opportunities">
    <meta name="author" content="foundstrap.com">

    <title>
        LOCAL GOVERNMENT TOOLBOX - STRENGTHENING LOCAL GOVERNANCE IN NIGERIA:
        Challenges, Options and Opportunities
    </title>
    <link rel="shortcut icon" href="~/img/icon-lgt.png">

    <!-- css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/foundstrap.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/iconcrafts.css">

    <!-- css plugin -->
    <link rel="stylesheet" href="~/css/flexslider.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/owl-carousel.css">
    <link rel="stylesheet" href="~/css/smartmenu.min.css">

    <!-- theme stylesheet -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">

    <!-- favicon -->
    <script type="text/javascript" charset="UTF-8" src="~/css/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/css/util.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .section.section-float {
            position: relative;
            margin-top: 60px;
            z-index: 3;
        }
        .section {
            padding: 20px 0;
        }

        .section-parallax {
            background: url('../pictures/testimonial-bg.jpg') no-repeat repeat top center;
            overflow: hidden;
            position: relative;
            min-width: 100%;
            min-height: 100%;
            background-size: cover;
        }
        p{
            font-size:18px;
            color:#000000;
        }
    </style>
</head>

<body data-new-gr-c-s-check-loaded="14.1058.0" data-gr-ext-installed="">
    <header id="header" class="header-version2">
        <!-- header-top -->
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="header-info pull-left">
                            <li>
                                <a href="mailto:complain@lgt.com.ng"><i class="fa fa-envelope" aria-hidden="true"></i> complain@lgt.com.ng</a>
                            </li>
                            @*<li><i class="fa fa-clock-o" aria-hidden="true"></i> Mon-Fri: 7:00 - 18:00</li>*@
                        </ul>
                        <div class="pull-right">
                            <ul class="header-social social-icon">
                                <li>
                                    <a class="facebook-color" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a class="twitter-color" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a class="google-color" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a class="instagram-color" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-top end here -->

        <div class="sticky-wrapper">
            <div class="header-main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="header-logo">
                                <a asp-page="/Index">
                                    <img src="~/css/logo-lgt.png" alt="logo">
                                    <img class="logo-responsive" src="~/css/logo-lgt.png" alt="logo">
                                    <img class="logo-sticky" src="~/css/logo-lgt.png" alt="logo">
                                </a>
                            </div>
                            @*<div class="menu-trigger"><span></span></div>*@
                            <nav class="menu-container">
                                <ul id="menu" class="sm me-menu" data-smartmenus-id="16518575083446707" style="">
                                    <li><a asp-page="/Index">HOME</a></li>
                                    <li><a asp-page="/About">About</a></li>

                                    <li><a asp-page="/LGA">LGA</a></li>
                                    <li><a asp-page="/Tools">TOOLS</a></li>
                                    <li class="">
                                        <a href="#" class="has-submenu active" id="sm-16518575083446707-1" aria-haspopup="true" aria-controls="sm-16518575083446707-2" aria-expanded="false">ACCOUNT<span class="sub-arrow"></span></a>
                                        <ul id="sm-16518575083446707-2" role="group" aria-hidden="true" aria-labelledby="sm-16518575083446707-1" aria-expanded="false">
                                            <li><a asp-page="/ValidateLgaStaff">LGA STAFF REGISTRATION</a></li>
                                            <li><a asp-page="Admin">ADMIN</a></li>
                                        </ul>
                                    </li>
                                </ul>

                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="slideshow-container" id="hero">
        <div class="slideshow" data-flex-fullscreen="true" style="height: 744px;">
            <ul class="slides">
                <li class="" style="background: url('../img/slider2.jpg') center top / cover no-repeat; width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                    <img src="~/img/slider2.jpg" data-position-y="top" alt="Slideshow Image" draggable="false" style="display: none;">
                    <div class="flex-content-overlay"></div>
                    <div class="flex-content-wrapper" style="height: 801px;">
                        <div class="flex-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <p class="hero-caption no-margin flex-animate" data-animate="animate__fadeInDown" style="opacity: 0;">NATIONAL INSTITUTE FOR POLICY AND STRATEGIC STUDIES, KURU</p>
                                        <hr class="hero-separator flex-animate" data-animate="animate__fadeInDown" data-animate-delay="500" style="visibility: visible; animation-delay: 0.5s; opacity: 0;">
                                        <h1 class="hero-heading flex-animate" data-animate="animate__fadeInDown" data-animate-delay="650" style="visibility: visible; animation-delay: 0.65s; opacity: 0;">THE NATIONAL INSTITUTE</h1>
                                        <a href="#" class="btn btn-default flex-animate" data-animate="animate__fadeInLeft" data-animate-delay="1000" style="visibility: visible; animation-delay: 1s; opacity: 0;">Get In Touch</a>
                                        <a href="#" class="btn btn-white btn-border flex-animate" data-animate="animate__fadeInRight" data-animate-delay="1000" style="visibility: visible; animation-delay: 1s; opacity: 0;">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="" style="background: url('../img/slider3.jpg') center center / cover no-repeat; width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                    <img src="~/img/slider3.jpg" alt="Slideshow Image" draggable="false" style="display: none;">
                    <div class="flex-content-overlay"></div>
                    <div class="flex-content-wrapper" style="height: 801px;">
                        <div class="flex-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <p class="hero-caption no-margin flex-animate" data-animate="animate__fadeInDown" style="opacity: 0;">CHALLENGES, OPTIONS AND OPPORTUNITIES</p>
                                        <hr class="hero-separator flex-animate" data-animate="animate__fadeInDown" data-animate-delay="500" style="opacity: 0; visibility: visible; animation-delay: 0.5s;">
                                        <h1 class="hero-heading flex-animate" data-animate="animate__fadeInDown" data-animate-delay="650" style="opacity: 0; visibility: visible; animation-delay: 0.65s;">STRENGHTENING LOCAL GOVERNANCE IN NIGERIA</h1>
                                        <a href="#" class="btn btn-default flex-animate" data-animate="animate__fadeInLeft" data-animate-delay="1000" style="opacity: 0; visibility: visible; animation-delay: 1s;">Get In Touch</a>
                                        <a href="#" class="btn btn-white btn-border flex-animate" data-animate="animate__fadeInRight" data-animate-delay="1000" style="opacity: 0; visibility: visible; animation-delay: 1s;">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="flex-active-slide" style="background: url('../img/slide1.jpg') center top / cover no-repeat; width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
                    <img src="~/img/slide1.jpg" data-position-y="top" alt="Slideshow Image" draggable="false" style="display: none;">
                    <div class="flex-content-overlay"></div>
                    <div class="flex-content-wrapper" style="height: 801px;">
                        <div class="flex-content">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <p class="hero-caption no-margin flex-animate animate__animated animate__fadeInDown" data-animate="animate__fadeInDown" style="opacity: 1;">...TOWARDS A BETTER SOCIETY</p>
                                        <hr class="hero-separator flex-animate animate__animated animate__fadeInDown" data-animate="animate__fadeInDown" data-animate-delay="500" style="opacity: 1; visibility: visible; animation-delay: 0.5s;">
                                        <h1 class="hero-heading flex-animate animate__animated animate__fadeInDown" data-animate="animate__fadeInDown" data-animate-delay="650" style="opacity: 1; visibility: visible; animation-delay: 0.65s;">MAKING POLICY AND RESEARCH FOR A BETTER NIGERIA</h1>
                                        <a href="#" class="btn btn-default flex-animate animate__animated animate__fadeInLeft" data-animate="animate__fadeInLeft" data-animate-delay="1000" style="opacity: 1; visibility: visible; animation-delay: 1s;">Get In Touch</a>
                                        <a href="#" class="btn btn-white btn-border flex-animate animate__animated animate__fadeInRight" data-animate="animate__fadeInRight" data-animate-delay="1000" style="opacity: 1; visibility: visible; animation-delay: 1s;">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#"></a></li><li class="flex-nav-next"><a class="flex-next" href="#"></a></li></ul>
        </div>
    </div>

    <section class="section no-padding-top section-float">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center gap" data-gap-bottom="40" style="margin-bottom: 10px;">
                    <h2 style="color:#87ba45;font-weight:800;">MEASURMENT TOOLS FOR LOCAL GOVERNANCE</h2>
                </div>

                <div class="col-md-4">
                    <div class="process-box">
                        <img class="img-radius img-shadow" src="~/pictures/impact.jpg" alt="image alt">
                        <h4 class="title"><a href="#" style="color:#000000;font-weight:800;">DIRECT IMPACT ON CITIZENS</a></h4>
                        <p style="text-align:justify;">This tools will aid to check if government effectively delivers services such as education healthcare and other necessities in accordance to their needs and available budget.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="process-box">
                        <img class="img-radius img-shadow" src="~/pictures/develop.jpg" alt="image alt">
                        <h4 class="title"><a href="#" style="color:#000000;font-weight:800;">DEVELOPMENT</a></h4>
                        <p style="text-align:justify;">These tools will see to it that authority manage the resources available initiate community economic planning efforts in shaping community groups and determining land use.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="process-box">
                        <img class="img-radius img-shadow" src="~/pictures/security.jpg" alt="image alt">
                        <h4 class="title"><a href="#" style="color:#000000;font-weight:800;">SECURITY</a></h4>
                        <p style="text-align:justify;">These tools will place checks on the local security units to know the extent to which their activities fulfills its intended purpose or function of achieving the security of lives and properties.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-title gap" data-gap-bottom="60" style="margin-bottom: 10px;">
                        <h2 style="color:#87ba45;font-weight:900;">Local Governments and Grass-roots Development</h2>

                        
                        <p class="lead" style="text-align:justify;">
                            Theoretically, the local government is the tier of government that can engender development at the grass-roots level. Scholars have argued that the advantage local governments have over other levels of government in terms of grass-roots development is their proximity to the people. Also, that every local government covers only a limited area as such, it is possible for it to conceive and implement programmes that will affect everyone in the locality.
                        </p> <p class="lead" style="text-align:justify;">
                            Furthermore, elected members who make up the local government council which is the policy formulation body are already "socially integrated with the people" hence they know what constitute the pressing needs of the people. More importantly, the relatively small size of every local government enables its elected officials to be more responsive to the yeamings of the people. At least, these are some of the arguments that have been put forward in support of local governments as effective
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="section section-parallax content-contrast parallax">
        <div class="overlay-background"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-title gap" data-gap-bottom="60" style="margin-bottom: 60px;">
                        <h2 style="color:#87ba45;font-weight:900;">MONITORING AND EVALUATION OF LOCAL GOVERNMENT PROJECTS </h2>
                        <p style="text-align:justify;">
                            The quest for rapid development has become very important in developing countries. This is because of the poor state of things majority of the citizens of these countries have found themselves One of the important methods of ensuring development is Planning and execution of development projects. In a federal system of government like Nigeria, the three tiers of government namely: the central, state and local governments participate the execution of development programmes.
                        </p>
                        <p style="text-align:justify;">
                            Projects play tremendous role in the process of economic and social development of any nation. They are usually regarded as the "basic building blocks" or the "cutting edge” of development. In a developing country like Nigeria, projects represent a crucial element in both the formulation and implementation of development plans. They are means of translating development plans into action. As such, they are expected to be identified and defined within a larger development context.
                        </p>
                    </div>
                    <a href="#" class="btn btn-outline white">View Evaluation Tools</a>
                </div>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-title no-border text-center">
                        <h3 class="no-margin" style="color:#87ba45;font-weight:900;">LOCAL GOVERNMENT RATING</h3>
                        <p>The Best 20 Local Government in Nigeria</p>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped me-table green">
                            <thead>
                                <tr>
                                    <th><strong>S/N</strong></th>
                                    <th><strong>LGA</strong></th>
                                    <th><strong>Position</strong></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Garden Cleaning</td>
                                    <td>$45 - $70</td>
                                    <td>3 hour</td>
                                    <td class="text-center"><a class="btn btn-sm btn-default" href="#">Details</a></td>
                                </tr>
                          

                            </tbody>
                        </table>
                    </div>

                    <p class="gap no-margin-bottom text-center" data-gap-top="40" style="margin-top: 40px;">
                        Or you want to see the other rating? <a class="text-color"><strong>See other rating now!</strong></a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section gray-bg border-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center gap" data-gap-bottom="40" style="margin-bottom: 40px;">
                    <h3 class="no-margin" style="color:#87ba45;font-weight:900;">Do you have Questions? We can Answer!</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                       
                        <p>
                            If you have any question about Local Governance or how we can help to improve your local govenment, please contact us directly by selecting from one of the below categories that is the most relevant to your inquiry and fill
                            our short feedback form.
                        </p>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <form class="contact-form" action="POST">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="name" id="name" class="form-control" placeholder="Your name">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" class="form-control" placeholder="Your Email">
                                    </div>
                                    <div class="form-group no-margin-lg">
                                        <input type="text" name="subject" id="subject" class="form-control" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <textarea name="message" id="message" class="form-control" placeholder="Your Message"></textarea>
                                    </div>
                                    <button type="submit" id="buttonsend" class="btn btn-default btn-block">Send Message</button>
                                </div>
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section cta-bottom-container content-contrast">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2><strong style="color:#87ba45;font-weight:900;">STRENGTHENING LOCAL GOVERNANCE IN NIGERIA</strong></h2>
                </div>
                
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="container">
            <div class="row">
              
                <div class="col-md-4 col-lg-4">
                    <h5 class="footer-title">Quick Links</h5>
                    <ul class="me-list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Project</a></li>
                        <li><a href="#">Term &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-lg-4">
                    <h5 class="footer-title">Contact Us</h5>
                    <p style="color:#ffffff;">
                        <strong>General Contact :</strong> <br>
                                                           <a class="text-color" href="mailto:contact@lgt.com.ng">contact@lgt.com.ng</a> <br>
                        <strong>Complaint :</strong> <br>
                                                     <a class="text-color" href="mailto:complain@lgt.com.ng">complain@lgt.com.ng</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-4">
                    <h5 class="footer-title">Subscribe For Good Governance Update</h5>
                    <p style="color:#ffffff;">Join with our subscribers and get special update,<br>and how to move the LGA forward.</p>

                    <form class="subscribe-form">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Enter Email Address" aria-label="Enter Email Address" aria-describedby="button-subscribe">
                            <div class="input-group-append">
                                <button class="btn btn-default" type="button" id="button-subscribe">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="copyright pull-left">© All rights reserved 2022, <strong>THE NATIONAL INSTITUTE</strong></div>
                        <ul class="footer-social social-icon pull-right">
                            <li>
                                <a class="facebook-color" href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a class="twitter-color" href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a class="google-color" href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a class="dribbble-color" href="#"><i class="fa fa-dribbble"></i></a>
                            </li>
                            <li>
                                <a class="linkedin-color" href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a class="instagram-color" href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- javascript here -->
    <script src="~/css/jquery-3.6.0.min.js"></script>
    <script src="~/css/js"></script>
    <script src="~/css/bootstrap.bundle.min.js"></script>
    <script src="~/css/jquery.smartmenus.min.js"></script>
    <script src="~/css/jquery.waypoints.min.js"></script>
    <script src="~/css/jquery.scrollUp.min.js"></script>

    <!-- javascript plugin -->
    <script src="~/css/jquery.flexslider-min.js"></script>
    <script src="~/css/owl.carousel.min.js"></script>
    <script src="~/css/jquery.countTo.js"></script>
    <script src="~/css/jquery.parallax.js"></script>
    <script src="~/css/isotope.pkgd.min.js"></script>
    <script src="~/css/jquery.easypiechart.min.js"></script>
    <script src="~/css/jquery.maps.js"></script>

    <!-- javascript configuration -->
    <script src="~/css/config.js"></script>
    <script>
        $(document).ready(function () {
            if ($(window).width() > 768) {
                $(".section-parallax").addClass("parallax").parallax("80%", 0.5);
            }
        });
    </script>


    <a id="scrollUp" href="#top" style="display: none; position: fixed; z-index: 2147483647;"><i class="fa fa-chevron-up"></i></a>
</body>
</html>

@RenderBody()

@RenderSection("Scripts", required: false)
