<!DOCTYPE html>
<!-- saved from url=(0061)https://themedemo.foundstrap.com/zengarden/index-layout2.html -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="LOCAL,LGA,GOVERNMENT,TOOLBOX,STRENGTHENING,LOCAL,GOVERNANCE,NIGERIA,Challenges,Options,Opportunities">
    <meta name="description" content="LOCAL GOVERNMENT TOOLBOX - STRENGTHENING LOCAL GOVERNANCE IN NIGERIA:
        Challenges, Options and Opportunities">
    <meta name="author" content="foundstrap.com">

    <title>
        LOCAL GOVERNMENT TOOLBOX - STRENGTHENING LOCAL GOVERNANCE IN NIGERIA:
        Challenges, Options and Opportunities
    </title>
    <link rel="shortcut icon" href="~/img/icon-lgt.png">

    <!-- css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/foundstrap.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/iconcrafts.css">

    <!-- css plugin -->
    <link rel="stylesheet" href="~/css/flexslider.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/owl-carousel.css">
    <link rel="stylesheet" href="~/css/smartmenu.min.css">

    <!-- theme stylesheet -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">

    <!-- favicon -->
    <script type="text/javascript" charset="UTF-8" src="~/css/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/css/util.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .section.section-float {
            position: relative;
            margin-top: 60px;
            z-index: 3;
        }
        .section {
            padding: 20px 0;
        }

        .section-parallax {
            background: url('../pictures/testimonial-bg.jpg') no-repeat repeat top center;
            overflow: hidden;
            position: relative;
            min-width: 100%;
            min-height: 100%;
            background-size: cover;
        }
        p{
            font-size:18px;
            color:#000000;
        }
        label {
            display: inline-block;
            margin-bottom: 0rem;
        }

        .cover {
            width: 400px;
            height: auto;
            margin: auto;
            margin-top: 50px;
            padding: 1%;
        }

        #error {
            height: auto;
            font-size: 12px;
        }

        .valid {
           
            color: green;
        }

        .invalid {
           
            color: #dc3545 !important;
        }
    </style>
</head>

<body data-new-gr-c-s-check-loaded="14.1058.0" data-gr-ext-installed="">
    <header id="header" class="header-version2">
        <!-- header-top -->
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="header-info pull-left">
                            <li>
                                <a href="mailto:complain@lgt.com.ng"><i class="fa fa-envelope" aria-hidden="true"></i> complain@lgt.com.ng</a>
                            </li>
                            @*<li><i class="fa fa-clock-o" aria-hidden="true"></i> Mon-Fri: 7:00 - 18:00</li>*@
                        </ul>
                        <div class="pull-right">
                            <ul class="header-social social-icon">
                                <li>
                                    <a class="facebook-color" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a class="twitter-color" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a class="google-color" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a class="instagram-color" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-top end here -->

        <div class="sticky-wrapper">
            <div class="header-main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="header-logo" style="float:none;text-align:center;margin:0 auto !important;">
                                <a asp-page="/Index">
                                    <img src="~/css/logo-lgt.png" alt="logo" style="text-align: center; margin: 0 auto !important;">
                                    <img class="logo-responsive" src="~/css/logo-lgt.png" alt="logo" style="text-align: center; margin: 0 auto !important;">
                                    <img class="logo-sticky" src="~/css/logo-lgt.png" alt="logo" style="text-align: center; margin: 0 auto !important;">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <section class="section gray-bg border-section">
        <div class="container">
            <div class="row">

                @RenderBody()


            </div>
        </div>
    </section>

    <section class="section cta-bottom-container content-contrast">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2><strong style="color:#87ba45;font-weight:900;">STRENGTHENING LOCAL GOVERNANCE IN NIGERIA</strong></h2>
                </div>

            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-lg-4">
                    <h5 class="footer-title">Quick Links</h5>
                    <ul class="me-list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Project</a></li>
                        <li><a href="#">Term &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-lg-4">
                    <h5 class="footer-title">Contact Us</h5>
                    <p style="color:#ffffff;">
                        <strong>General Contact :</strong> <br>
                        <a class="text-color" href="mailto:contact@lgt.com.ng">contact@lgt.com.ng</a> <br>
                        <strong>Complaint :</strong> <br>
                        <a class="text-color" href="mailto:complain@lgt.com.ng">complain@lgt.com.ng</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-4">
                    <h5 class="footer-title">Subscribe For Good Governance Update</h5>
                    <p style="color:#ffffff;">Join with our subscribers and get special update,<br>and how to move the LGA forward.</p>

                    <form class="subscribe-form">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Enter Email Address" aria-label="Enter Email Address" aria-describedby="button-subscribe">
                            <div class="input-group-append">
                                <button class="btn btn-default" type="button" id="button-subscribe">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="copyright pull-left">© All rights reserved 2022, <strong>THE NATIONAL INSTITUTE</strong></div>
                        <ul class="footer-social social-icon pull-right">
                            <li>
                                <a class="facebook-color" href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a class="twitter-color" href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a class="google-color" href="#"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a class="dribbble-color" href="#"><i class="fa fa-dribbble"></i></a>
                            </li>
                            <li>
                                <a class="linkedin-color" href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a class="instagram-color" href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- javascript here -->
    <script src="~/css/jquery-3.6.0.min.js"></script>
    <script src="~/css/js"></script>
    <script src="~/css/bootstrap.bundle.min.js"></script>
    <script src="~/css/jquery.smartmenus.min.js"></script>
    <script src="~/css/jquery.waypoints.min.js"></script>
    <script src="~/css/jquery.scrollUp.min.js"></script>

    <!-- javascript plugin -->
    <script src="~/css/jquery.flexslider-min.js"></script>
    <script src="~/css/owl.carousel.min.js"></script>
    <script src="~/css/jquery.countTo.js"></script>
    <script src="~/css/jquery.parallax.js"></script>
    <script src="~/css/isotope.pkgd.min.js"></script>
    <script src="~/css/jquery.easypiechart.min.js"></script>
    <script src="~/css/jquery.maps.js"></script>

    <!-- javascript configuration -->
    <script src="~/css/config.js"></script>
    <script>
        $(document).ready(function () {
            if ($(window).width() > 768) {
                $(".section-parallax").addClass("parallax").parallax("80%", 0.5);
            }
        });
    </script>
    <script src="~/js/main.js"></script>

    <script src="~/js/maintwo.js"></script>
    <a id="scrollUp" href="#top" style="display: none; position: fixed; z-index: 2147483647;"><i class="fa fa-chevron-up"></i></a>
</body>
</html>


@RenderSection("Scripts", required: false)
