
<!DOCTYPE html>
<!-- saved from url=(0062)http://artsoundgroup.com/html/molnia/html/light/index-web.html -->
<html lang="zxx">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        .gm-control-active > img {
            box-sizing: content-box;
            display: none;
            left: 50%;
            pointer-events: none;
            position: absolute;
            top: 50%;
            transform: translate(-50%,-50%)
        }

            .gm-control-active > img:nth-child(1) {
                display: block
            }

        .gm-control-active:hover > img:nth-child(1) {
            display: none
        }

        .gm-control-active:active > img:nth-child(1) {
            display: none
        }

        .gm-control-active:disabled > img:nth-child(1) {
            display: none
        }

        .gm-control-active:hover > img:nth-child(2) {
            display: block
        }

        .gm-control-active:active > img:nth-child(3) {
            display: block
        }

        .gm-control-active:disabled > img:nth-child(4) {
            display: block
        }
    </style>
    <link type="text/css" rel="stylesheet" href="~/css/css">
    <link type="text/css" rel="stylesheet" href="~/css/css(1)">
    <style>
        .gm-ui-hover-effect {
            opacity: .6
        }

            .gm-ui-hover-effect:hover {
                opacity: 1
            }

            .gm-ui-hover-effect > span {
                background-color: #000
            }

        @@media (forced-colors:active),(prefers-contrast:more) {
            .gm-ui-hover-effect > span {
                background-color: ButtonText
            }
        }
    </style>
    <style>
        .gm-style .gm-style-cc a, .gm-style .gm-style-cc button, .gm-style .gm-style-cc span, .gm-style .gm-style-mtc div {
            font-size: 10px;
            box-sizing: border-box
        }

        .gm-style .gm-style-cc a, .gm-style .gm-style-cc button, .gm-style .gm-style-cc span {
            outline-offset: 3px
        }
    </style>
    <style>
        @@media print {
            .gm-style .gmnoprint, .gmnoprint {
                display: none
            }
        }

        @@media screen {
            .gm-style .gmnoscreen, .gmnoscreen {
                display: none
            }
        }
    </style>
    <style>
        .gm-style-moc {
            background-color: rgba(0,0,0,.45);
            pointer-events: none;
            text-align: center;
            transition: opacity ease-in-out
        }

        .gm-style-mot {
            color: white;
            font-family: Roboto,Arial,sans-serif;
            font-size: 22px;
            margin: 0;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%)
        }
    </style>
    <style>
        .gm-style img {
            max-width: none;
        }

        .gm-style {
            font: 400 11px Roboto, Arial, sans-serif;
            text-decoration: none;
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Art Sound Group">

    <!--Title-->
    <title>THE LOCAL GOVERNMCE TOOLBOX</title>

    <!--Seo Tags-->
    <meta name="description" content="Your page description here">
    <meta name="keywords" content="Your meta keywords, here">
    <meta name="robots" content="index, follow">

    <!--Favicon-->
    <link rel="shortcut icon" href="http://artsoundgroup.com/html/molnia/html/light/assets/img/favicon.ico" type="image/x-icon">

    <!--Fonts-->
    <link href="~/css/css(2)" rel="stylesheet">
    <link rel="stylesheet" href="~/css/font-awesome.css">

    <!--General Style-->
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/css/trackpad-scroll-emulator.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/css/vegas.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/mailform.css" type="text/css">

    <script async="" src="~/css/analytics.js"></script>
    <script type="text/javascript" async="" src="~/css/watch.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/css/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/css/util.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/css/map.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/css/marker.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/css/stats.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/css/onion.js"></script>
    <script type="text/javascript" charset="UTF-8" src="~/css/controls.js"></script>
    <style>
        body, html {
            height: 100%;
        }

        .bg {
            /* The image used */
            background-image: url("../img/bg6.jpg");
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .button-xs {
            display: inline-block;
            color: #fff;
            border: solid 2px rgba(255, 255, 255, 0.5);
            text-decoration: none;
            padding: 13px 19px;
            font-size: 24px;
            border-radius: 15px;
            margin-bottom: 5px;
        }
        h2 {
            font-size: 46px;
            font-weight: normal;
            margin-bottom: 30px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body data-new-gr-c-s-check-loaded="14.1055.0" data-gr-ext-installed="" class="bg" style="z-index:9999999;">

    <!-- Loading -->
    @*<div id="preload" style="display: none;">
        <div id="preload-content" style="display: none;">
            <div class="preload-spinner">
                <div class="loading-logo-wraper">
                    <img src="~/img/LGOG-LGT.png" alt="">
                </div>
                <div class="tp-loader spinner"></div>
            </div>
        </div>
    </div>*@

    <!-- Content -->
    <div id="outer-wrapper" class="animate translate-z-in in" style="z-index:0000001">
        <div id="inner-wrapper">
            <div id="table-wrapper">
                <div class="container center">
                    <div id="row-content">
                        <div id="content-wrapper">
                            <div id="content" class="animate translate-z-in animation-time-2s delay-1-5s in" style="background: #0c0c0c63; border: 2px solid #0c0c0c63; box-shadow: 0px 1.6px 3.6px rgb(0 0 0 / 13%), 0px 0px 2.9px rgb(0 0 0 / 11%); ">
                                <header><img src="~/img/LGOG-LGT.png" class="" alt="" style="position: relative; top: 0px;opacity:100 !important;"></header>

                                <h2>THE LOCAL GOVERNANCE TOOLBOX</h2>
                                <h4>All Ways and Means to Strenghten Local Governance</h4>
                                <a asp-page="/Login" class="button-xs"><span>Continue</span></a>
                            </div>
                        </div>
                    </div>
                    <div id="row-footer">
                        <footer>
                            <div class="social animate translate-z-in delay-2s in">
                                <a href="#"><span class="fa fa-envelope" title="Email"></span></a>
                                <a href="#"><span class="fa fa-facebook" title="Facebook"></span></a>
                                <a href="#"><span class="fa fa-twitter" title="Twitter"></span></a>
                                <a href="#"><span class="fa fa-instagram" title="Instagram"></span></a>
                                <a href="#"><span class="fa fa-google-plus" title="Google Plus"></span></a>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>

            <!-- Background -->
            @*<canvas id="canvas-bottom" width="1920" height="880"></canvas>
                <canvas id="canvas-top" width="1920" height="880"></canvas>*@
        </div>
    </div>


    <div class="backdrop"></div>

    <!--Java Scripts-->
    <script type="text/javascript" src="~/css/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="~/css/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/css/jquery.plugin.min.js"></script>
    <script type="text/javascript" src="~/css/custom.js"></script>
    <script type="text/javascript" src="~/css/pepjay.js"></script>
    <script type="text/javascript" src="~/css/web.js"></script>



</body>

</html>


@RenderBody()

@RenderSection("Scripts", required: false)

